<div class="container"><h2>All Bookings</h2></div>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Label</th>
      <th>Car</th>
      <th>Price</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let friend of bookings">
      <td><span>{{friend}}</span></td>
      <td><span>{{friend}}</span></td>
      <td><span>{{friend}}</span></td>
      <td><span>{{friend}}</span></td>
      <td><span>{{friend}}</span></td>
      <td><span>{{friend}}</span></td>
    </tr>
    </tbody>
  </table>
</div>
