<div class="car-list" *ngIf="app.isLoggedIn">
  <ul>
    <li class="car-list-headings">
      <div class="car-list-cell">Car</div>
      <div class="car-list-cell">Vendor</div>
      <div class="car-list-cell">Price</div>
      <div class="car-list-cell">Status</div>
    </li>
    <li *ngFor="let car of cars"
        class="car-list-item">
      <div class="car-list-cell"
           style="font-weight: bold"
      >
        {{car.label}}
      </div>
      <div class="car-list-cell"> {{car.vendor}}</div>
      <div class="car-list-cell"> {{car.price + ' ' + car.currency}} </div>
      <div class="car-list-cell">
        <fa-icon *ngIf="isCarFree(car.status)" style="color: darkseagreen" [icon]="iconDoubleCheck"></fa-icon>
        <fa-icon *ngIf="!isCarFree(car.status)" style="color: lightgrey" [icon]="iconCircleX"></fa-icon>
        {{car.status}}
      </div>
    </li>
  </ul>

</div>
