<!--<div class="component-container">-->
  <ul>
    <li class="car-list-headings">
      <div class="car-list-cell">Car</div>
      <div class="car-list-cell">Vendor</div>
      <div class="car-list-cell">Price</div>
      <div class="car-list-cell">Status</div>
      <div class="car-list-cell" style="min-width: 120px;"></div>
    </li>
    <li *ngFor="let car of cars"
        class="car-list-item">
      <div class="car-list-cell"
           style="font-weight: bold"
      >
        {{car.label}}
      </div>
      <div class="car-list-cell"> {{car.vendor}}</div>
      <div class="car-list-cell"> {{car.price + ' ' + car.currency}} </div>
      <div class="car-list-cell">
        <fa-icon *ngIf="isCarFree(car.status)" style="color: darkseagreen; margin-right: 5px;" [icon]="iconDoubleCheck"></fa-icon>
        <fa-icon *ngIf="!isCarFree(car.status)" style="color: lightgrey; margin-right: 5px;" [icon]="iconCircleX"></fa-icon>
        {{car.status}}
      </div>
      <div class="car-list-cell">
        <button *ngIf="this.isLoggedIn && isCarFree(car.status)" class="car-list-button btn-primary round booking-button" (click)="bookCar(car)">
          book {{car.label}}
        </button>
      </div>
    </li>
  </ul>

<!--</div>-->
