<div id="app">
  <nav class="navbar navbar-expand navbar-light">
    <a href="#" class="navbar-brand">
      <img src="/assets/logo_small_icon_only.png" width="100" height="100" alt="">
      <span class="text-primary logotitle">{{title}}</span>
    </a>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item btn-primary round">
        <a (click)="openRegisterDialog()" class="nav-link btntext">Sign Up</a>
      </li>
      <li class="nav-item btn-primary round">
        <a (click)="openLoginDialog()" class="nav-link btntext">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <div style="line-height: 40px; margin-right: 10px;">logged in as: {{ username }}</div>
      </li>
      <li class="nav-item btn-primary round">
        <a class="nav-link btntext" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <header class="jumbotron jumbotron-fluid bg-image text-black">
    <h1 class="text-primary">&nbsp;C A R NOW | mieten</h1>
  </header>

  <app-currency-selection (onCurrencyValueChanged)="onCurrencySelectionEvent($event)"></app-currency-selection>

  <app-car-booking-list></app-car-booking-list>

  <app-car-list [currency]="currency" (onCarBooked)="onCarBooked()"></app-car-list>
</div>
