<br/>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/register"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-plus-circle"></i></span>
        <br>Register</a>
    </div>
    <div class="col-sm">
      <a href="/login"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-key"></i></span>
        <br>Login</a>
    </div>
    <div class="col-sm">
      <a href="/bookings"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-book"></i></span>
        <br>Bookings</a>
    </div>
    <div class="col-sm">
      <a href="/users"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-car"></i></span>
        <br>Cars</a>
    </div>
    <div class="col-sm">
      <a href="/users"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Users</a>
    </div>
  </div>
</div>
